/* ---------------------------------------
	Slideshow
--------------------------------------- */

	html, body, p
	{
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		background: transparent;
	}

	body
	{
		margin: 1.25em;
		font-family: Helvetica, Arial, sans-serif;
	}

	a
	{
		color: #373737;
		font-weight: bold;
	}

	a:hover,
	a:focus
	{
		color: #737373;
	}


/*
	Structure
	----------------------------------- */

	#slideshow
	{
		position: relative;
		overflow: hidden;

		margin: 0 auto;
		max-width: 600px;
		height: 215px;
	}

	#slideshow .strip,
	#slideshow .slide
	{
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
	}

	#slideshow .slides
	{
		position: relative;
		height: 170px;
	}

	#slideshow .slide
	{
		display: none;
		text-align: center;
	}

	#slideshow .slide.sticky
	{
		display: block;
	}

	#slideshow .buttons
	{
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 0;
	}

	#slideshow ul,
	#slideshow li
	{
		display: block;
		overflow: hidden;

		margin: 0;
		padding: 0;

		list-style: none;
	}

	#slideshow ul
	{
		display: none;
	}

	#slideshow li
	{
		float: left;
	}

	#slideshow li + li
	{
		margin-left: 10px;
	}

	.advanced #slideshow .slide
	{
		display: block;
	}
	
	.advanced #slideshow ul
	{
		display: inline-block;
	}


/*
	Theme
	----------------------------------- */

	#slideshow .slide
	{
		background: #CFCFCF;
	}

	#slideshow .slide:nth-child(even)
	{
		background: #DFDFDF;
	}

	#slideshow .slide p
	{
		position: absolute;
		top: 35%;
		left: 0;
		width: 100%;

		font-weight: bold;
		font-size: 2em;
	}

	#slideshow .buttons .disabled,
	#slideshow .buttons .disabled:hover,
	#slideshow .buttons .disabled:focus
	{
		color: #afafaf;
		cursor: default;
	}

	#slideshow ul
	{
		margin: 15px 4.6875%;
		font-size: 0.8em;
	}

	#slideshow ul a.sticky
	{
		color: #3172dd;
	}
